
.rounded-button {
  border-radius: 34px;
  -gtk-outline-radius: 9999px;
  padding: 8px 16px;
  min-width: 120px;
}

.sub-box row:not(:last-child){
  border-bottom: 1px solid @borders;
}
.sub-left-box {
  border-right: 1px solid @borders;
}
.expander revealer list row {
  padding: 0;
}

.sourceview {
  border: 1px solid @borders;
  border-radius: 9px;
  padding: 6px 0;
}

.log text {
  background: @theme_bg_color;
}