on:
  push:
    branches: [master]
  pull_request:
name: CI
jobs:
  flatpak-builder:
    name: "Flatpak Builder"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-nightly
      options: --privileged
    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
      with:
        bundle: "webfont-kit-generator-devel.flatpak"
        manifest-path: "com.rafaelmardojai.WebfontKitGenerator.json"
        run-tests: "true"
        cache-key: flatpak-builder-${{ github.sha }}
